.flex-row {
    justify-content: space-between;

}
.add-btn {
    font-size: 2rem;
    height: fit-content;
    padding: 5px 15px;
    margin-top: 15px;
}

.table-container {
    overflow: auto;
    max-height: 400px;
}

.users-container, .machines-container {
    background-color: var(--primary-color-l);
    border: 1px solid var(--primary-color-l);
    border-radius: 10px;
}

td {
    white-space: nowrap;
}