.flex-row {
    justify-content: space-between;

}
.add-btn {
    font-size: 2rem;
    height: fit-content;
    padding: 5px 15px;
    margin-top: 15px;
}

.table-container {
    overflow: auto;
    max-height: 400px;
}

.users-container, .machines-container {
    background-color: var(--primary-color-l);
    border: 1px solid var(--primary-color-l);
    border-radius: 10px;
}

td {
    white-space: nowrap;
}

.form-input-text {
    color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.form-input-text input {
    width: 250px;
    background-color: var(--secondary-color-m);
    padding: 5px 10px;
}

.form-btn {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-weight: bold;
}
.form-select {
    background-color: var(--secondary-color-m);
    width: 290px;
}