
.table-container {
    overflow: auto;
    max-height: 400px;
}

.users-container, .machines-container {
    background-color: var(--primary-color-l);
    border: 1px solid var(--primary-color-l);
    border-radius: 10px;
}

td {
    white-space: nowrap;
}