@import url('https://fonts.googleapis.com/css?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oxygen:wght@300;400;700&display=swap');

:root {
    /* --primary-color: #124B30; */
    --primary-color: #0E3D27;
    --primary-color-m: #0E3D27AB;
    --primary-color-l: #0E3D271E;
    --secondary-color: #F2F5E6;
    --secondary-color-m: #F2F5E6AB;
    --secondary-color-l: #F2F5E61E;
}

body {
    color: var(--primary-color);
    font-family: 'Noto Sans';
    background-color: var(--secondary-color);
    margin: 3% 5%;
}

button {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    padding: 10px 15px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
}
button:disabled {
    background-color: var(--primary-color-m);
    color: var(--secondary-color-m);
    cursor:unset;
}
button:hover {
    background-color: var(--primary-color-m);
}

.close-btn {
    background: transparent;
    color: var(--secondary-color-m);
    width: fit-content;
    padding: 0px;
    position: fixed;
    top: 20px;
    left: 7%;
}
.close-btn:hover {
    color: var(--secondary-color);
    background-color: transparent;
}

input {
    background-color: var(--primary-color-l);
    color: var(--primary-color);
    border: none;
    padding-top: 5px;
    border-bottom: var(--primary-color) solid 2px;
    border-radius: 3px;
}

select {
    background-color: var(--primary-color-l);
    border: none;
    border-bottom: var(--primary-color) 2px solid;
    color: var(--primary-color);
    border-radius: 5px;
    padding: 5px;
    color: var(--primary-color);
    
}
select:disabled {
    background-color: var(--secondary-color-m);
    color: var(--primary-color-m);
}
td select {
    background-color: var(--secondary-color);
    border: none;
}

table, tbody, tr, td {
    border: none !important;
    width: 100%;
}
thead {
    background-color: var(--primary-color) !important;
    color: white !important;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}
th, td {
    border: none !important;
    border-radius: 5px !important;
    padding: 10px;
    text-align: left;
}
td {
    background-color: var(--primary-color-l);
}

.titleRow {
    font-weight: bold;
}

hr {
    border: 2px solid;
}

#toast-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: fixed;
    top: 0px;
    right: 10px;
    margin: 10px;
    z-index: 1000;
}
.toast {
    padding: 10px;
    width: 250px;
    overflow: auto;
    background: var(--secondary-color-m);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    box-shadow: 0 8px 32px 0 rgba(14, 61, 39, 0.37);
    font-weight: bold;
    /* border-left: 5px solid var(--primary-color); */
}
.toast-error {
    background: rgb(146 21 21 / 71%);
    color: var(--secondary-color);
}

::-webkit-scrollbar {
    width: 7px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
    background: var(--primary-color-l); /* color of the tracking area */
    border-radius: 3px;
    border: 1px solid var(--primary-color-l);
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-color-m); /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 2px solid transparent; /* creates padding around scroll thumb */
}
  