<kendo-appbar position="top" 
    [themeColor]="themeColor" [positionMode]="positionMode">
    <kendo-appbar-spacer width="45%"></kendo-appbar-spacer>

    <kendo-appbar-section>
      <h1 class="title"
      [routerLink]="''"
      style="cursor: pointer"
      >{{title}}</h1>
    </kendo-appbar-section>

    <kendo-appbar-spacer width="35%"></kendo-appbar-spacer>

    <kendo-appbar-section class="actions">
        <button kendoButton fillMode="flat">
            <kendo-icon name="menu"></kendo-icon>
        </button>
    </kendo-appbar-section>
    
</kendo-appbar>
